								<!-- Block Newsletter module-->
								<div id="newsletter_block_left" class="block">
									<h4>Рассылка</h4>
									<div class="block_content">
										<form action="" method="post">
											<div class="form-group" >
												<input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" value="Введите ваш e-mail" />
												<button type="submit" name="submitNewsletter" class="btn btn-default btn-sm">
													<span>OK</span>
												</button>
												<input type="hidden" name="action" value="0" />
											</div>
										</form>
									</div>
								</div>
								<!-- /Block Newsletter module-->