								<section id="social_block" class="col-xs-12 col-sm-3">
								<h4>Подпишитесь на наши обновления</h4>
									<ul>
										<li class="facebook">
											<a target="_blank" href="https://www.facebook.com/prestashop" title="Facebook">
												<span>Facebook</span>
											</a>
										</li>
										<li class="twitter">
											<a target="_blank" href="https://www.twitter.com/prestashop" title="Twitter">
												<span>Twitter</span>
											</a>
										</li>
										<li class="google-plus">
											<a target="_blank" href="https://www.google.com/+prestashop" title="Google+">
												<span>Google+</span>
											</a>
										</li>
									</ul>
								</section>