								<!-- MODULE Block footer -->
								<section class="footer-block col-xs-12 col-sm-3" id="block_various_links_footer">
									<h4>Информация</h4>
									<ul class="toggle-footer">
										<li class="item">
											<a href="" title="Скидки">
												Скидки
											</a>
										</li>
										<li class="item">
											<a href="" title="Новые товары">
												Новые товары
											</a>
										</li>
										<li class="item">
											<a href="" title="Популярные товары">
												Популярные товары
											</a>
										</li>
										<li class="item">
											<a href="" title="Наш магазин">
												Наш магазин
											</a>
										</li>
										<li class="item">
											<a href="" title="Свяжитесь с нами">
												Свяжитесь с нами
											</a>
										</li>
										<li class="item">
											<a href="" title="Страница конфигурации">
												Страница конфигурации
											</a>
										</li>
										<li>
											<a href="" title="Карта сайта">
												Карта сайта
											</a>
										</li>
									</ul>
		
								</section>
								
								<div class="bottom-footer">
									<div class="container">
										&copy; <span class="current-year">2018</span> <a class="_blank" title="prestashop" href="https://www.prestashop.com">Сделано в PrestaShop™</a>
										<a class="footer-logo" href="https://www.templatemonster.com/" rel="nofollow"><img src="/static/products/img/cms/footer-logo.png" alt="logo"></a>
									</div>		
								</div>
								<!-- /MODULE Block footer -->