								<!-- Block myaccount module -->
								<section class="footer-block col-xs-12 col-sm-3">
									<h4>
										<a href="" title="Управление моей учетной записью" rel="nofollow">Моя учетная запись</a>
									</h4>
									<div class="block_content toggle-footer">
										<ul class="bullet">
											<li>
												<a href="" title="Мои заказы" rel="nofollow">Мои заказы</a>
											</li>
											<li>
												<a href="" title="Мои возвраты" rel="nofollow">Мои возвраты</a>
											</li>
											<li>
												<a href="" title="Мои платёжные квитанции" rel="nofollow">Мои платёжные квитанции</a>
											</li>
											<li>
												<a href="" title="Мои адреса" rel="nofollow">Мои адреса</a>
											</li>
											<li>
												<a href="" title="Управление моими персональными данными" rel="nofollow">Моя личная информация</a>
											</li>
										</ul>
									</div>
								</section>
								<!-- /Block myaccount module -->