{% extends 'master.html' %}

{% block page_title %}Classic - Book Hangover{% endblock %}

{% block page_description %}Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge, exerts on the process of development of your personality. For a long period of time books were very rare and because of such confines only some “esoteric” people could afford them. And you know what? Books always have some notes of mysticism. Just remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air... The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.{% endblock %}

{% block page_css %}			
			<link rel="stylesheet" href="/static/products/js/fancybox/jquery.fancybox.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/product_list.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/category.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/scenes.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockcart/blockcart.css" media="all" />
			<link rel="stylesheet" href="/static/products/js/bxslider/jquery.bxslider.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockcategories/blockcategories.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockcurrencies/blockcurrencies.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blocklanguages/blocklanguages.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockcontact/blockcontact.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blocknewsletter/blocknewsletter.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blocksearch/blocksearch.css" media="all" />
			<link rel="stylesheet" href="/static/products/js/autocomplete/jquery.autocomplete.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blocktags/blocktags.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockviewed/blockviewed.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockwishlist/blockwishlist.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/productcomments/productcomments.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/blockpermanentlinks/blockpermanentlinks.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/smartblog/css/smartblogstyle.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/smartbloglatestnews/css/smartbloglatestnews.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/smartblogtag/css/smartblogtags.css" media="all" />			
			<link rel="stylesheet" href="/static/products/modules/tmproductvideos/css/tmproductvideos.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/tmheaderaccount/css/front.css" media="all" />
			<link rel="stylesheet" href="/static/products/modules/tmmediaparallax/css/tm-media-parallax-styles.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/tmhtmlcontent/css/hooks.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/tmproductlistgallery/css/front.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/tmmegamenu/views/css/front.css" media="all" />
			<link rel="stylesheet" href="/static/products/modules/tmsociallogin/views/css/front.css" media="all" />
			<link rel="stylesheet" href="/static/products/css/modules/tmsearch/views/css/tmsearch.css" media="all" />
{% endblock %}			
			
{% block page_js %}
			<script type="text/javascript">
				var CUSTOMIZE_TEXTFIELD = 1;
				var FancyboxI18nClose = 'Закрыть';
				var FancyboxI18nNext = 'Вперед';
				var FancyboxI18nPrev = 'Назад';
				var added_to_wishlist = 'Добавлено в избранное.';
				var ajax_allowed = true;
				var ajaxsearch = true;
				var baseDir = '/';
				var baseUri = '/';
				var comparator_max_item = 2;
				var comparedProductsIds = [];
				var contentOnly = false;
				var customizationIdMessage = 'Модификация №';
				var delete_txt = 'Удалить';
				var displayList = false;
				var freeProductTranslation = 'Бесплатно!';
				var freeShippingTranslation = 'Бесплатная доставка!';
				var generated_date = 1532186979;
				var hasDeliveryAddress = false;
				var id_lang = 3;
				var img_dir = '/img/';
				var instantsearch = true;
				var isGuest = 0;
				var isLogged = 0;
				var isMobile = false;
				var loggin_required = 'Вы должны авторизироваться для управления избранным.';
				var max_item = 'Нельзя добавить больше чем 2 товаров для сравнения';
				var min_item = 'Выберите по крайней мере один товар';
				var module_url = '';
				var mywishlist_url = '';
				var nbItemsPerLine = 3;
				var nbItemsPerLineMobile = 2;
				var nbItemsPerLineTablet = 2;
				var page_name = 'category';
				var placeholder_blocknewsletter = 'Введите ваш e-mail';
				var popup_status = true;
				var priceDisplayMethod = 1;
				var priceDisplayPrecision = 2;
				var quickView = true;
				var removingLinkText = 'удалить товар из корзины';
				var request = '';
				var roundMode = 2;
				var scroll_step = 150;
				var scrool_speed = 800;
				var search_url = '';
				var search_url_local = '';
				var static_token = '';
				var text_close = 'Закрыть';
				var text_description = 'Введите ваш адрес электронной почты, чтобы получать все новости, обновления о новых поступлениях, специальных предложениях и другую информацию о скидках.';
				var text_email = 'Ваш адрес электронной почты';
				var text_heading = 'Подпишитесь на нашу рассылку';
				var text_heading_1 = 'Подпишитесь на нашу рассылку';
				var text_heading_2 = 'Вы успешно подписались на рассылку';
				var text_heading_3 = 'Ошибка';
				var text_placeholder = 'Enter your e-mail';
				var text_remove = 'Больше не показывать';
				var text_sign = 'Подписаться';
				var tmsearch_description = false;
				var tmsearch_height = 600;
				var tmsearch_image = true;
				var tmsearch_limit = true;
				var tmsearch_limit_num = 3;
				var tmsearch_manufacturer = false;
				var tmsearch_price = true;
				var tmsearch_reference = true;
				var tmsearch_scroll = true;
				var toBeDetermined = 'Определить';
				var token = '';
				var user_newsletter_status = 0;
				var usingSecureMode = true;
				var wishlistProductsIds = false;
			</script>
			<script type="text/javascript" src="/static/products/js/autoload/10-bootstrap.min.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/14-device.min.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/15-jquery.total-storage.min.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/15-jquery.uniform-modified.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/16-jquery.scrollmagic.min.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/17-jquery.scrollmagic.debug.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/18-TimelineMax.min.js"></script>
			<script type="text/javascript" src="/static/products/js/autoload/19-TweenMax.min.js"></script>
			<script type="text/javascript" src="/static/products/js/fancybox/jquery.fancybox.js"></script>
			<script type="text/javascript" src="/static/products/js/products-comparison.js"></script>
			<script type="text/javascript" src="/static/products/js/category.js"></script>
			<script type="text/javascript" src="/static/products/js/modules/blockcart/ajax-cart.js"></script>
			<script type="text/javascript" src="/static/products/js/jquery.scrollTo.js"></script>
			<script type="text/javascript" src="/static/products/js/jquery.serialScroll.js"></script>
			<script type="text/javascript" src="/static/products/js/bxslider/jquery.bxslider.js"></script>
			<script type="text/javascript" src="/static/products/js/tools/treeManagement.js"></script>
			<script type="text/javascript" src="/static/products/js/modules/blocknewsletter/blocknewsletter.js"></script>
			<script type="text/javascript" src="/static/products/js/autocomplete/jquery.autocomplete.js"></script>
			<script type="text/javascript" src="/static/products/js/modules/blocksearch/blocksearch.js"></script>
			<script type="text/javascript" src="/static/products/js/modules/blockwishlist/js/ajax-wishlist.js"></script>
			<script type="text/javascript" src="/static/products/js/validate.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmheaderaccount/js/front.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmmediaparallax/js/device.min.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmmediaparallax/js/tm-media-parallax.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmproductlistgallery/js/front.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmmegamenu/views/js/hoverIntent.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmmegamenu/views/js/superfish.js"></script>
			<script type="text/javascript" src="/static/products/js/modules/tmmegamenu/views/js/front.js"></script>
			<script type="text/javascript" src="/static/products/modules/tmsearch/views/js/tmsearch.js"></script>
{% endblock %}
	
{% block page_content %}
	<body id="category" class="category category-43 category-classic hide-right-column lang_ru two-columns">
	    <!--[if IE 8]>
        <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="//www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
		<![endif]-->
		<div id="page">
			<div id="toTop" style="display: block;"></div>
			<div class="header-container">
				<header id="header">
					{% include 'includes/inc_banner.html' %}
                    <div id="stickBox">
                        <div class="mainHeader">
                            {% include 'includes/inc_nav.html' %}
                            {% include 'includes/inc_header_logo.html' %}
							{% include 'includes/inc_cart.html' %}
							{% include 'includes/inc_top_menu.html' %}
<!-- string(8) "category" -->
                        </div>
                    </div>    
				</header>
			</div>
            <div class="columns-footer-inner">
				<div class="columns-container">
					<div id="top_column"></div>
<!-- Breadcrumb -->
					<div class="breadcrumb clearfix">
						<div class="container">
							<a class="home" href="/" title="На главную">
								<i class="fa fa-home"></i>
							</a>
							<span class="navigation-pipe">&gt;</span>
							Classic
						</div>
					</div>

<!-- /Breadcrumb -->
                	<div id="columns" class="container">
					<div class="row">
                    	<div class="large-left col-sm-12">
                        	<div class="row">
                            	<div id="center_column" class="center_column col-xs-12 col-sm-9">

									<div class="content_scene_cat">
												 <!-- Category image -->
										<div class="content_scene_cat_bg row">
											<div class="category-image hidden-xs col-xs-12 col-sm-5 col-md-4 col-lg-3">
												<img class="img-responsive" src="/static/products/img/c/43-tm_category_default.jpg" alt="Classic" />
											</div>
											<div class="cat_desc col-xs-12 col-sm-7 col-md-8 col-lg-9">
												<span class="category-name">
													Classic                            
												</span>
												<div id="category_description_short" class="rte"><p>Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge, exerts on the process of development of your personality. For a long period of time books were very rare and because of such confines only some “esoteric” people could afford them. And you know what? Books always have some notes of m...</p></div>
												<div id="category_description_full" class="unvisible rte"><p>Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge, exerts on the process of development of your personality. For a long period of time books were very rare and because of such confines only some “esoteric” people could afford them. And you know what? Books always have some notes of mysticism. Just remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent of rational identity is in the air... The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.</p></div>
												<a href="" class="lnk_more" title="Еще">[Еще]</a>
											</div>
										</div>
									</div>
									<h1 class="page-heading product-listing">
										<span class="cat-name">Classic&nbsp;</span>
										<span class="heading-counter">Товаров: 8.</span>
									</h1>
		
        		
									<div class="content_sortPagiBar clearfix">
										<div class="sortPagiBar clearfix">
											<ul class="display hidden-xs">
												<li class="display-title">Вид:</li>
												<li id="grid">
													<a rel="nofollow" href="#" title="Сетка">
														<i class="fa fa-th-large"></i>
														Сетка
													</a>
												</li>
												<li id="list">
													<a rel="nofollow" href="#" title="Список">
														<i class="fa fa-th-list"></i>
														Список
													</a>
												</li>
											</ul>

    
    
											<form id="productsSortForm" action="" class="productsSortForm">
												<div class="select selector1">
													<label for="selectProductSort">Сортировка по</label>
													<select id="selectProductSort" class="selectProductSort form-control">
														<option value="position:asc" selected="selected">--</option>
																			<option value="price:asc">Цена, по возрастанию</option>
															<option value="price:desc">Цена, по убыванию</option>
																		<option value="name:asc">По названию товара, от А до Я</option>
														<option value="name:desc">По названию товара, от Я до А</option>
																			<option value="quantity:desc">По наличию</option>
																		<option value="reference:asc">Артикул, по возрастанию</option>
														<option value="reference:desc">Артикул, по убыванию</option>
													</select>
												</div>
											</form>
	
    <!-- /Sort products -->
			
	
                								<!-- nbr product/page -->
											<form action="" method="get" class="nbrItemPage">
												<div class="clearfix selector1">
													<label for="nb_item">
														Показать
													</label>
													<input type="hidden" name="id_lang" value="3" />
													<input type="hidden" name="live_configurator_token" value="fac41fb15d68e448596047e959ba6881" />
													<input type="hidden" name="id_shop" value="1" />
													<input type="hidden" name="id_employee" value="2" />
													<input type="hidden" name="theme" value="" />
													<input type="hidden" name="theme_font" value="" />
													<input type="hidden" name="id_category" value="43" />
													<input type="hidden" name="controller" value="category" />
													<select name="n" id="nb_item" class="form-control">
														<option value="6" selected="selected">6</option>
														<option value="12" >12</option>
													</select>
													<span>на странице</span>
												</div>
											</form>
										<!-- /nbr product/page -->

										</div>
										<div class="top-pagination-content clearfix">
											<form method="post" action="" class="compare-form">
												<button type="submit" class="btn btn-default bt_compare" disabled="disabled">
													<span>Сравнить 
														<strong class="total-compare-val">0</strong>
													</span>
												</button>
												<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
												<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
											</form>
						
										<!-- Pagination -->
											<div id="pagination" class="pagination clearfix">
												<form class="showall" action="" method="get">
													<div>
														<button type="submit" class="btn btn-default">
															<span>Показать все</span>
														</button>
														<input type="hidden" name="id_lang" value="3" />
														<input type="hidden" name="live_configurator_token" value="fac41fb15d68e448596047e959ba6881" />
														<input type="hidden" name="id_shop" value="1" />
														<input type="hidden" name="id_employee" value="2" />
														<input type="hidden" name="theme" value="" />
														<input type="hidden" name="theme_font" value="" />
														<input type="hidden" name="id_category" value="43" />
														<input type="hidden" name="controller" value="category" />
														<input name="n" id="nb_item" class="hidden" value="8" />
													</div>
												</form>
				
												<ul class="pagination">
													<li id="pagination_previous" class="disabled pagination_previous">
														<span>
															<i class="fa fa-chevron-left"></i> 
															<b>Назад</b>
														</span>
													</li>
													<li class="active current">
														<span>
															<span>1</span>
														</span>
													</li>
													<li>
														<a href="">
															<span>2</span>
														</a>
													</li>
													<li id="pagination_next" class="pagination_next">
														<a href="" rel="next">
															<b>Вперед</b> <i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
    
											<div class="product-count">
    	    		                        	Показано 1 - 6 из 8 товаров
											</div>
									<!-- /Pagination -->

										</div>
									</div>
	
<!-- Products list -->


									<ul class="product_list grid row">
	
									{% for itm in query %}
            
										<li class="ajax_block_product col-xs-12 col-sm-6 col-md-4">
											<div class="product-container" itemscope itemtype="https://schema.org/Product">
												<div class="productInner">
													<div class="left-block">
														<div class="product-image-container">
															<a class="product_img_link"	href="{% url 'detail' itm.id %}" title="{{ itm.name }}" itemprop="url">
																<img class="replace-2x img-responsive" src="/media/{{ itm.image }}" alt="{{ itm.name }}" title="{{ itm.name }}" itemprop="image" />
															</a>
															<a class="quick-view" href="{% url 'detail' itm.id %}" rel="{% url 'detail' itm.id %}">
																<span>Быстрый просмотр</span>
															</a>
															<a class="sale-box" href="">
																<span class="sale-label">Распродажа!</span>
															</a>
															<div class="content_price_2">
																<span class="price-percent-reduction">-13%</span>
															</div>
														</div>
													</div>
													<div class="right-block">
														<h5 itemprop="name">
															<a class="product-name" href="{% url 'detail' itm.id %}" title="{{ itm.name }}" itemprop="url" >
																<span class="list-name">{{ itm.name }}</span>
																<span class="grid-name">{{ itm.name }}</span>
															</a>
														</h5>
														<p class="product-desc" itemprop="description">
															<span class="list-desc">{{ content }}</span>
															<span class="grid-desc">Well, reading books as a hobby was...</span>
														</p>
														<div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="content_price">
															<span itemprop="price" class="price product-price product-price-new">
																${{ itm.cost }}
															</span>
															<meta itemprop="priceCurrency" content="USD" />
															<span class="old-price product-price">
																$80.25
															</span>
															<span class="price-percent-reduction">-13%</span>
														</div>
														<div class="comments_note" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">	
															<div class="star_content clearfix">
																<div class="star star_on"></div>
																<div class="star star_on"></div>
																<div class="star star_on"></div>
																<div class="star"></div>
																<div class="star"></div>
																<meta itemprop="worstRating" content = "0" />
																<meta itemprop="ratingValue" content = "3" />
																<meta itemprop="bestRating" content = "5" />
															</div>
															<span class="nb-comments"><span itemprop="reviewCount">1</span> Обзор(ы)</span>
														</div>

														<div class="button-container">
															<a class="ajax_add_to_cart_button btn btn-default" href="" rel="nofollow" title="В корзину" data-id-product="2" data-minimal_quantity="1">
																<span>В корзину</span>
															</a>					
                                                        </div>
														<div class="color-list-container"></div>
														<div class="product-flags"></div>
                                                        <span itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="availability">
                                                            <span class="available-now">
																<link itemprop="availability" href="https://schema.org/InStock" />
																В наличии
															</span>
                                                        </span>
                                                        <div class="functional-buttons clearfix">
															<div class="wishlist">
																<a class="addToWishlist wishlistProd_2" href="#" rel="2" onclick="WishlistCart('wishlist_block_list', 'add', '2', false, 1); return false;" title="Добавить в избранное"><span>Добавить в избранное</span></a>
															</div>
                                                            <div class="compare">
																<a class="add_to_compare" href="" data-id-product="2" title="Добавить к сравнению"><span>Добавить к сравнению</span></a>
															</div>
															<div class="moreBox ">
																<a itemprop="url" href="{% url 'detail' itm.id %}" title="См.">
																	<span>Еще</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div><!-- .product-container> -->
										</li>
	
									{% endfor %}	
									
									</ul>

<!-- /Products list -->



									<div class="content_sortPagiBar">
										<div class="bottom-pagination-content clearfix">
											<form method="post" action="" class="compare-form">
												<button type="submit" class="btn btn-default bt_compare" disabled="disabled">
													<span>Сравнить 
														<strong class="total-compare-val">0</strong>
													</span>
												</button>
												<input type="hidden" name="compare_product_count" class="compare_product_count" value="0" />
												<input type="hidden" name="compare_product_list" class="compare_product_list" value="" />
											</form>
	
    
                    	
												<!-- Pagination -->
											<div id="pagination_bottom" class="pagination clearfix">
												<form class="showall" action="" method="get">
													<div>
											            <button type="submit" class="btn btn-default">
															<span>Показать все</span>
														</button>
														<input type="hidden" name="id_lang" value="3" />
														<input type="hidden" name="live_configurator_token" value="fac41fb15d68e448596047e959ba6881" />
														<input type="hidden" name="id_shop" value="1" />
														<input type="hidden" name="id_employee" value="2" />
														<input type="hidden" name="theme" value="" />
														<input type="hidden" name="theme_font" value="" />
														<input type="hidden" name="id_category" value="43" />
														<input type="hidden" name="controller" value="category" />
														<input name="n" id="nb_item" class="hidden" value="8" />
													</div>
												</form>
				
												<ul class="pagination">
													<li id="pagination_previous_bottom" class="disabled pagination_previous">
														<span>
															<i class="fa fa-chevron-left"></i> 
															<b>Назад</b>
														</span>
													</li>
													<li class="active current">
														<span>
															<span>1</span>
														</span>
													</li>
													<li>
														<a  href="">
															<span>2</span>
														</a>
													</li>
													<li id="pagination_next_bottom" class="pagination_next">
														<a  href="" rel="next">
															<b>Вперед</b> <i class="fa fa-chevron-right"></i>
														</a>
													</li>
												</ul>
											</div>
    
											<div class="product-count">
    	    		                        	Показано 1 - 6 из 8 товаров
											</div>
									<!-- /Pagination -->

										</div>
									</div>
			
								</div><!-- #center_column -->
								
								
								
								
                                <div id="left_column" class="column col-xs-12 col-sm-3">
									<section id="wishlist_block" class="block account">
										<h4 class="title_block">
											<a href="" title="Моё избранное" rel="nofollow">
												Избранное
											</a>
										</h4>
										<div class="block_content">
											<div id="wishlist_block_list" class="expanded">
												<dl class="products no-products">
													<dt>Нет товаров</dt>
													<dd></dd>
												</dl>
											</div> <!-- #wishlist_block_list -->

											<div class="lnk">
												<a class="btn btn-default btn-sm icon-right" href="" title="Моё избранное">
													<span>
														Моё избранное
													</span>
												</a>
											</div> <!-- .lnk -->
										</div> <!-- .block_content -->
									</section> <!-- #wishlist_block --><!-- MODULE Block best sellers -->
									
									<section id="best-sellers_block_right" class="block products_block">
										<h4 class="title_block">
											<a href="" title="Просмотреть самые продаваемые товары">Популярные товары</a>
										</h4>
										<div class="block_content">
											<ul class="block_content products-block">
											
											
												<li class="clearfix">
													<a href="" title="" class="products-block-image content_img clearfix">
														<img class="replace-2x img-responsive" src="/static/products/img/p/4/8/48-tm_small_default.jpg" alt="" />
													</a>
													<div class="product-content">
														<h5>
															<a class="product-name" href="" title="">
																1984 (Signet Classics) by George Orwell
															</a>
														</h5>
														<p class="product-description">Well, reading books as a hobby was always a noble, pleasant and very...</p>
														<div class="price-box">
															<span class="price">$122.51</span>
														</div>
													</div>
												</li>
					
											</ul>
											
											<div class="lnk">
												<a href="" title="Все популярные товары"  class="btn btn-default btn-sm icon-right">
													<span>
														Все популярные товары
													</span>
												</a>
											</div>
										</div>
									</section>
									
<!-- /MODULE Block best sellers -->	<!-- Block CMS module -->

									<section id="informations_block_left_1" class="block informations_block_left">
										<h4 class="title_block">
											<a href="" title="Information">
												Information				
											</a>
										</h4>
										<div class="block_content list-block">
											<ul>
												<li>
													<a href="" title="Delivery">
														Delivery
													</a>
												</li>
												<li>
													<a href="" title="Legal Notice">
														Legal Notice
													</a>
												</li>
												<li>
													<a href="" title="Terms and conditions of use">
														Terms and conditions of use
													</a>
												</li>
												<li>
													<a href="" title="About us">
														About us
													</a>
												</li>
												<li>
													<a href="" title="Secure payment">
														Secure payment
													</a>
												</li>
												<li>
													<a href="" title="Наш магазин">
														Наш магазин
													</a>
												</li>
											</ul>
										</div>
									</section>
									<!-- /Block CMS module -->
									
							<!-- MODULE Block specials -->
									<section id="special_block_right" class="block">
										<h4 class="title_block">
											<a href="" title="Скидки">
												Скидки
											</a>
										</h4>
										<div class="block_content products-block">
											<ul>
												<li class="clearfix">
													<a class="products-block-image" href="">
														<img class="replace-2x img-responsive" src="/static/products/img/p/1/1-tm_small_default.jpg" alt="" title="Fifty Shades Trilogy" />
													</a>
													<div class="product-content">
														<h5>
															<a class="product-name" href="" title="Fifty Shades Trilogy">
																Fifty Shades Trilogy
															</a>
														</h5>
														<p class="product-description">
															Well, reading books as a hobby was...
														</p>
														<div class="price-box">
															<span class="price special-price">
																$125.54
															</span>
															<span class="price-percent-reduction">-5%</span>
															<span class="old-price">
																	$132.15
															</span>
														</div>
													</div>
												</li>
											</ul>
											<div>
												<a class="btn btn-default btn-sm icon-right" href="" title="Все скидки">
													<span>
														Все скидки
													</span>
												</a>
											</div>
										</div>
									</section>
									
<!-- /MODULE Block specials -->

<!-- Block stores module -->

									<section id="stores_block_left" class="block">
										<h4 class="title_block">
											<a href="" title="Наш магазин">
												Наш магазин
											</a>
										</h4>
										<div class="block_content blockstore">
											<p class="store_image">
												<a href="" title="Наш магазин">
													<img class="img-responsive" src="/static/products/modules/blockstore/store.jpg" alt="Наш магазин" />
												</a>
											</p>
											<div>
												<a class="btn btn-default btn-sm icon-right" href="" title="Наш магазин">
													<span>
														Найти наши магазины
													</span>
												</a>
											</div>
										</div>
									</section>
									<!-- /Block stores module -->
									
									<!-- Block Viewed products -->
									<section id="viewed-products_block_left" class="block">
										<h4 class="title_block">Просмотренные товары</h4>
										<div class="block_content products-block">
											<ul>
												<li class="clearfix last_item">
													<a class="products-block-image" href="" title="Подробнее о 1984 (Signet Classics) by George Orwell" >
														<img class="img-responsive" src="/static/products/img/p/4/8/48-tm_small_default.jpg" alt="" />
													</a>
													<div class="product-content">
														<h5>
															<a class="product-name"	href="" title="Подробнее о 1984 (Signet Classics) by George Orwell">
																1984 (Signet Classics)...
															</a>
														</h5>
														<p class="product-description">Well, reading books as a hobby was...</p>
													</div>
												</li>
											</ul>
										</div>
									</section>
								</div>
                            </div><!--.large-left-->
						</div><!--.row-->
					</div><!-- .row -->
					</div><!-- #columns -->
				</div><!-- .columns-container -->
			
			
			
<!-- Footer -->
				<div class="footer-container">
					<div class="footer-container-inner">
						<footer id="footer" class="container">
							<div class="row">	
							
								{% include 'includes/inc_block_footer.html' %}
								{% include 'includes/inc_myaccount.html' %}
								{% include 'includes/inc_categories.html' %}
								{% include 'includes/inc_newsletter.html' %}
								{% include 'includes/inc_social_block.html' %}
								
							</div>
						</footer>
					</div>
				</div><!-- #footer -->
			</div>
		</div><!-- #page -->
	</body>
{% endblock %}